@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container mt-5">
    <div class="card rounded-2 border-0">
        <div class="card-body text-center">
            <h1 class="display-4 text-danger mb-3">@ViewData["Title"]</h1>
            <p class="lead text-danger">
                You do not have access to this resource.
            </p>
        </div>
    </div>
</div>
