@page
@model InventoryWeb.Areas.Identity.Pages.Account.SessionExpiredModel

<div class="container mt-5">
    <div class="card bg-body shadow-sm p-4">
<h2>Session Expired</h2>

<p>Your session has expired or you were logged in from another location.</p>


<a asp-page="./Login" class="btn btn-primary">Go to Login</a>
    </div>
</div>