@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mt-4">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="mb-3">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* <button type="submit" class="w-100 btn btn-lg btn-primary mt-2">Update password</button> *@

            <button type="button"
                    id="update-password-btn"
                    class="w-100 btn btn-lg btn-primary mt-2">
                Update password
            </button>

        </form>
    </div>
</div>


@* -------------------------------------MODAL--------------------------------- *@
<div class="modal fade" id="confirmPasswordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Confirm Password Change</h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Are you sure you want to change your password?
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancel
                </button>

                <button type="button"
                        class="btn btn-primary"
                        id="confirmPasswordBtn">
                    Yes, Update
                </button>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<script>
    const updateBtn = document.getElementById("update-password-btn");
    const confirmBtn = document.getElementById("confirmPasswordBtn");
    const form = document.getElementById("change-password-form");

    function focusFirstInvalid(form) {
        const invalid = form.querySelector(".input-validation-error");
        if (invalid) {
            invalid.focus();
            invalid.scrollIntoView({
                behavior: "smooth",
                block: "center"
            });
        }
    }

    updateBtn.addEventListener("click", function () {

        if (!$(form).valid()) {
            focusFirstInvalid(form);
            return;
        }

        new bootstrap.Modal(
            document.getElementById("confirmPasswordModal")
        ).show();
    });

    confirmBtn.addEventListener("click", function () {

        if (!$(form).valid()) {
            focusFirstInvalid(form);
            return;
        }

        form.submit();
    });
</script>
